.password-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);

  z-index: 9999;
}

.password-box {
  width: 360px;
  padding: 40px;

  background: white;

  display: flex;
  flex-direction: column;
  gap: 20px;

  text-align: center;

  border-radius: 6px;

  box-shadow: 0 15px 40px rgba(0, 0, 0, .25);
}

.password-box h1 {
  margin: 0;
}

.password-box p {
  margin: 0;
  color: #666;
}

.password-box input {
  padding: 12px;

  font-size: 16px;

  border: 1px solid #ccc;
}

.password-box button {
  padding: 12px;

  cursor: pointer;

  border: none;

  background: #222;
  color: white;

  font-size: 16px;
}

.password-box button:hover {
  background: #000;
}